body {
    background-image: url(https://images.freeimages.com/images/small-previews/8ef/canvas-1-1186635.jpg);
}

.my-container {
    background: #ffffff;
}

footer {
    background: #666666
}

.my-row {
    height: 120px;
}